.contacts {
  h1 {
    text-align: center;
  }

  img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .contacts-layout {
    display: flex;
    justify-content: space-around;

    .contact-info {
      display: flex;
      flex-direction: column;

      .info {
        display: flex;
        flex-direction: column;
        margin: 5px;
      }

      .row {
        display: flex;
        margin: 5px;
      }
    }

    .location {
      width: 40%;

      p {
        font-weight: bold;
        padding-bottom: 15px;
      }

      iframe {
        margin: 15px;
      }
    }
  }
}






