<div class="page contacts">

  <div class="page-path"></div>

  <h1 class="page-header">Контактная информация</h1>

  <div class="page-content">
    <div class="contacts-layout">
      <div class="contact-info">
        <div class="row">
          <img src="http://s1.iconbird.com/ico/1012/Qetto2Icons/w256h2561350657651journal.png" alt="img">
          <div class="info">
            <a href="tel:звонить Алёше 1"> звонить Алёше 1</a>
            <a href="tel:звонить Алёше 2"> звонить Алёше 2</a>
            <a href="tel:звонить Алёше 3"> звонить Алёше 3</a>
          </div>
        </div>
        <div class="row">
          <img src="http://s1.iconbird.com/ico/1012/Qetto2Icons/w256h2561350657651mail.png" alt="img">
          <div class="info">
            <a href="mailto:alesha@hren.sobaka">alesha@hren.sobaka</a>
          </div>
        </div>
        <div class="row">
          <img src="http://s1.iconbird.com/ico/1012/Qetto2Icons/w256h2561350657674timer.png" alt="img">
          <div class="info">
            <span>Время работы:</span>
            <span>понедельник-воскресенье : 8:00 - 17:00</span>
          </div>
        </div>
      </div>

      <div class="location">
        <p>Адрес:</p>
        <address>г. Харьков, улица Раевской, 13/1</address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d269.5639051617261!2d36.29672644730432!3d50.00126104228974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc1ff78319feb685d!2z0JLQvtGA0L7QvdC60L7QsiDQkC7Qki4!5e0!3m2!1sru!2sua!4v1596750496893!5m2!1sru!2sua"
                width="500"
                height="400"
                frameborder="0"
                style="border:0;"
                allowfullscreen=""
                aria-hidden="false"
                tabindex="0">
        </iframe>
      </div>
    </div>
  </div>
</div>

