<div class="page product-details">

  <div *ngIf="state.isLoading()">
    <div class="page-content">
      <app-in-progress></app-in-progress>
    </div>
  </div>

  <div *ngIf="state.isError()">
    <div class="page-content">
      <app-error></app-error>
    </div>
  </div>

  <div *ngIf="state.isReady()">
    <div class="page-path">
      <a routerLink="/catalogue/{{product.subcategory.category.id}}">{{product.subcategory.category.name}}</a>
      →
      <a routerLink="/catalogue/{{product.subcategory.category.id}}/{{product.subcategory.id}}">{{product.subcategory.name}}</a>
    </div>

    <div class="page-header">{{product.name}}</div>

    <div class="product-id">Артикул: {{product.id}}</div>

    <div class="page-content">
      <div class="product-details-inner">
        <div class="product-images">
          <img src="assets/img/noimage.png" alt="" *ngIf="product.images.length==0">
          <div *ngFor="let img of product.images" class="product-image-wrapper">
            <img [src]="img" alt="">
          </div>
        </div>
        <div class="product-pricing-and-delivery">
          <div class="price">{{product | productPrice}}</div>
        </div>
        <div class="product-description">
          <div class="product-description-header">Описаниe</div>
          <div class="product-description-content">
            {{product.description || 'Нет описания'}}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
