<div class="page contacts">

  <div *ngIf="state.isLoading()">
    <div class="page-content">
      <app-in-progress></app-in-progress>
    </div>
  </div>

  <div *ngIf="state.isError()">
    <div class="page-content">
      <app-error></app-error>
    </div>
  </div>

  <div *ngIf="state.isReady()">
    <div class="page-path"></div>
    <h1 class="page-header">Администраторская</h1>
    <div class="page-content">
      <form class="form" (ngSubmit)="saveCatalogue()">
        <div class="main-section section category">
          <div class="section">
            <div class="form-group select">
              <div>
                <label for="category">Категория</label>
              </div>
              <div>
                <select id="category" [(ngModel)]="category" name="category" (change)="onCategoryChange()">
                  <option *ngFor="let c of categories" [ngValue]="c">{{c.name}}</option>
                </select>
                <button type="button" (click)="addCategory()">Добавить</button>
                <button type="button" (click)="deleteCategory(category)" *ngIf="category">Удалить</button>
              </div>
            </div>
          </div>
          <div class="section" *ngIf="category">
            <app-product-category-form [category]="category"></app-product-category-form>
          </div>
        </div>

        <div class="main-section section subcategory" *ngIf="category">
          <div class="section">
            <div class="form-group select">
              <div>
                <label for="subcategory">Подкатегория</label>
              </div>
              <div>
                <select id="subcategory" [(ngModel)]="subcategory" name="subcategory" (change)="onSubCategoryChange()">
                  <option *ngFor="let sc of category.subcategories" [ngValue]="sc">{{sc.name}}</option>
                </select>
                <button type="button" (click)="addSubCategory(category)">Добавить</button>
                <button type="button" (click)="deleteSubCategory(category, subcategory)" *ngIf="subcategory">Удалить</button>
              </div>
            </div>
          </div>
          <div class="section" *ngIf="subcategory">
            <app-product-subcategory-form [subcategory]="subcategory"></app-product-subcategory-form>
          </div>
        </div>

        <div class="main-section section product" *ngIf="subcategory">
          <div class="section">
            <div class="form-group select">
              <div>
                <label for="product">Продукт</label>
              </div>
              <div>
                <select id="product" [(ngModel)]="product" name="product">
                  <option *ngFor="let p of subcategory.products" [ngValue]="p">{{p.name}}</option>
                </select>
                <button type="button" (click)="addProduct(subcategory)">Добавить</button>
                <button type="button" (click)="deleteProduct(subcategory, product)" *ngIf="product">Удалить</button>
              </div>
            </div>
          </div>
          <div class="section" *ngIf="product">
            <app-product-form [product]="product"></app-product-form>
          </div>
        </div>

        <div class="section buttons">
          <button type="submit" [disabled]="submissionState.isSubmitting()">Жмакай</button>
          <app-in-progress *ngIf="submissionState.isSubmitting()"></app-in-progress>
          <app-error *ngIf="submissionState.isError()"></app-error>
        </div>

      </form>

    </div>
  </div>


</div>
