@import "../../../styles-variables";

.form {
  display: flex;
  flex-wrap: wrap;

  .category {
    width: 50%;
  }

  .subcategory {
    width: 50%;
  }

  .product {
    width: 100%;
  }

  .buttons {
    width: 100%;
  }

  .select {
    font-weight: bold;
    margin-bottom: 1em;
  }

}


.form-group {
  width: 400px;
  display: flex;

  & > * {
    width: 50%;
    display: flex;
    align-items: center;
  }

  input[type="text"],
  textarea,
  select {
    min-width: 200px;
  }

  img.logo {
    height: 24px;
  }

}


.section {
  padding: 5px;
}

.main-section {
  border: rgba(255, 255, 255, 0) 1px solid;

  &:hover {
    border: $mainColor 1px solid;
  }
}
