<ul>
  <li><a routerLink="/catalogue" routerLinkActive="active">Каталог</a></li>
  <li><a routerLink="/payment-and-delivery" routerLinkActive="active">Оплата и доставка</a></li>
  <li><a routerLink="/contacts" routerLinkActive="active">Контактная информация</a></li>
  <li><a routerLink="/portfolio" routerLinkActive="active">Портфолио</a></li>
  <li><a href="https://www.instagram.com/rodnikov7" target="_blank"><img class="instagram" src="/assets/img/insta.png"></a></li>
</ul>

<div class="banner">
  <div class="banner-img">
    <img src="https://sun9-21.userapi.com/c850136/v850136968/d1b2b/TiPdxf2idwM.jpg?ava=1" alt="img">
  </div>
  <div class="banner-search">
    <input type="text" placeholder="Поиск">
  </div>
  <div class="banner-phones">Вставить телефон</div>
</div>

<router-outlet></router-outlet>
