<div class="callback-popup">
  <div>Перезвонить вам?</div>

  <div>Укажите ваш номер телефона и имя. Мы свяжемся с вами в ближайшее время.</div>
  <form (ngSubmit)="submitCallback()">
    <app-error *ngIf="state.isError()"></app-error>

    <div>
      <label for="callbackName">Имя</label>
      <input [(ngModel)]="callback.name" [readOnly]="state.isInProgress()" id="callbackName"
             name="name"
             type="text">
    </div>
    <div>
      <label for="callbackPhone">Телефон</label>
      <input [(ngModel)]="callback.phone" [readOnly]="state.isInProgress()" id="callbackPhone"
             name="phone"
             type="text">
    </div>
    <div>
      <button [disabled]="state.isInProgress()" type="submit">Жмакай</button>
      <app-in-progress *ngIf="state.isInProgress()"></app-in-progress>
    </div>
  </form>

</div>
