<div [ngSwitch]="products.length" class="products-list">

  <div *ngSwitchCase="0">Нет продуктов для отображения</div>

  <div *ngSwitchDefault>
    <app-products-list-paginator [pagination]="pagination" [sortOptions]="sortOptions"></app-products-list-paginator>

    <div class="products">
      <div *ngFor="let product of page" class="product-wrapper">
        <div class="product">
          <a [title]="product.name" class="product-image" routerLink="/product/{{product.id}}">
            <img [src]="product.images[0] || 'assets/img/noimage.png'" alt="">
          </a>
          <a class="product-name" routerLink="/product/{{product.id}}">{{product.name}}</a>
          <div class="product-price">{{product | productPrice}}</div>
        </div>
      </div>
    </div>

    <app-products-list-paginator [pagination]="pagination" [sortOptions]="sortOptions"></app-products-list-paginator>

  </div>

</div>
