<div class="products-list" [ngSwitch]="products.length">

  <div *ngSwitchCase="0">Нет продуктов для отображения</div>

  <div *ngSwitchDefault>
    <app-products-list-paginator [pagination]="pagination" [sortOptions]="sortOptions"></app-products-list-paginator>

    <div class="products">
      <div class="product-wrapper" *ngFor="let product of page">
        <div class="product">
          <a class="product-image" [title]="product.name" routerLink="/product/{{product.id}}">
            <img [src]="product.images[0]" alt="">
          </a>
          <a class="product-name" routerLink="/product/{{product.id}}">{{product.name}}</a>
          <div class="product-price">{{product | productPrice}}</div>
        </div>
      </div>
    </div>

    <app-products-list-paginator [pagination]="pagination" [sortOptions]="sortOptions"></app-products-list-paginator>

  </div>

</div>
