<div class="page catalogue">

  <div *ngIf="state.isLoading()">
    <div class="page-content">
      <app-in-progress></app-in-progress>
    </div>
  </div>

  <div *ngIf="state.isError()">
    <div class="page-content">
      <app-error></app-error>
    </div>
  </div>

  <div *ngIf="state.isReady()">
    <div *ngIf="state.isReady()" class="page-content" [ngSwitch]="categories.length">
      <div *ngSwitchCase="0">Нет продуктов для отображения</div>
      <div *ngSwitchDefault>
        <div class="categories">
          <a *ngFor="let category of categories"
             [routerLink]="'' + category.id"
             class="category" routerLinkActive="active">{{category.name}}</a>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>


</div>



