@import "styles-variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

.page {
  display: block;
  margin: auto;
  width: 80%;
  padding: 30px;

  .page-path {
    font-size: 12px;
    font-weight: 200;
    height: 16px;
    width: 100%;
    color: $textMutedColor;

    a {
      font-style: italic;
      color: $textMutedColor;
    }
  }

  .page-header {
    display: block;
    font-size: 2em;
    margin: 20px 0 20px 0;
    font-weight: bold;
    position: relative;
  }

  .page-content {
    padding: 0 10px;
  }
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
