*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.page {
  display: block;
  margin: auto;
  width: 80%;
  padding: 30px;


  .page-header {
    display: block;
    font-size: 2em;
    margin: 20px 0 20px 0;
    font-weight: bold;
    position: relative;

    .page-path {
      position: absolute;
      font-size: 14px;
      top: -17px;
      font-weight: 200;
    }
  }

  .page-content {
    padding: 0 10px;
  }
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
