.page {
  display: block;
  margin: auto;
  width: 80%;
  padding: 30px;

  .page-header {
    display: block;
    font-size: 2em;
    margin: 10px 0;
    font-weight: bold;
  }

  .page-content {

  }
}



