<div class="products-pagination">

  <div class="sort">
    <span class="sort-label">Сортировать</span>
    <div class="sort-options">
      <a (click)="sortOptions.doSort(o)"
         *ngFor="let o of sortOptions.options"
         [ngClass]="{'active':o.active}"
         class="sort-option">{{o.label}}</a>
    </div>
  </div>

  <mat-paginator (page)="onPaginationEvent($event)"
                 [length]="pagination.total"
                 [pageSizeOptions]="pagination.pageSizeOptions"
                 [pageSize]="pagination.pageSize">
  </mat-paginator>
</div>
